svg {
  background: #efefef92;
}

img {
  max-width:100%;
}

#spin {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.county {
  fill:#e5e5e5;
  stroke: #333;
  stroke-width: 0.5;
}

.selected {
  fill: rgb(255, 125, 108);
}

#title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

#info {
  text-align: left;
  margin-top: 120px;
}

#writeUp {
  text-align: left;
  margin-top: 20px;
}

#selectPanel {
  background: #efefef92;
  padding-top: 20px;
}

#legendHolder {
  height:225px;
  width: 225px;
  background: #efefef92;
  margin-bottom: 20px;
  padding-top: 20px;
  padding: 15px;
}

#piebar {
  width:1060px;
  margin:50px auto;
}

path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path, .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.x.axis path {  display: none; }

.legend{
  margin-bottom:76px;
  display:inline-block;
  border-collapse: collapse;
  border-spacing: 0px;
}

.legend td{
  padding:4px 5px;
  vertical-align:bottom;
}

.legendFreq, .legendPerc{
  align:right;
  width:50px;
}