svg {
  background: #efefef1e;
}

.county {
  fill:#e3e3e3;
  stroke: #333;
  stroke-width: 0.5;
}

.selected {
  fill: rgb(255, 125, 108);
}

#title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

#info {
  text-align: left;
}

#selectPanel {
  background: #efefef1e;
  padding-top: 20px;
}

#legendHolder {
  height:225px;
  width: 225px;
  background: #efefef1e;
  margin-bottom: 20px;
  padding-top: 20px;
  padding: 15px;
}

#info {
  margin-top: 100px;
}