svg {
  background: #efefef92;
}

img {
  max-width:100%;
}

#spin {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.county {
  fill:#e5e5e5;
  stroke: #333;
  stroke-width: 0.5;
}

.selected {
  fill: rgb(255, 125, 108);
}

#title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

#writeUp {
  text-align: left;
  margin-top: 120px;
}

#selectPanel {
  background: #efefef92;
  padding-top: 20px;
}

#legendHolder {
  height:225px;
  width: 225px;
  background: #efefef92;
  margin-bottom: 20px;
  padding-top: 20px;
  padding: 15px;
}